<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<header class="top-menu">
    <div class="left-menu">
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('app_posts') }}">Posts</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </div>

    <div class="right-menu">
        <ul>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">{{ 'Login' | trans }}</a></li>
                <li><a href="{{ path('app_register') }}">{{ 'Sign Up' | trans }}</a></li>
            {% endif %}
        </ul>
    </div>
</header>
{% for success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ success }}</div>
{% endfor %}
<div class="container bg-light">
    <div class="bg-light mt-4 p-4">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>


